html, body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

img {
    display: block;
    width: 106vw;
    height: 106vh;
    filter: brightness(35%);
}

form {
    background-color: #E38A22;
    width: 23vw;
    height: 66vh;
    display: flex;
    border-radius: 35px;
    border: 2px solid black;
    flex-direction: column;
    position: absolute;
    left: 38%;
    top: 17%;
    align-items: center;

    h3 {
        font-size: 2vw;
        font-weight: 100;
    }

    input {
        width: 68%;
        border-radius: 12px;
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: block;
        font-size: 1.2vw;
        background-color: #ECA047;
        outline: none;
        padding-left: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        border: 1px solid black;
    }

    input:focus {
        box-shadow: 1px 1px 1px black;
    }

    input[type="submit"] {
        margin-top: 13vh;
        background-color: black;
        color: white;
        padding-top: 0.75vh;
        padding-bottom: 0.75vh;
        cursor: pointer;
    }

    input::-webkit-input-placeholder {
        color: rgb(34, 34, 34);
       } 
       input::-moz-placeholder {
        color: rgb(34, 34, 34);
       }
}